.signin-container {
  width: 35%;
  margin: 15% auto;
}

.signin-container > mat-card-title,
mat-card-subtitle {
  text-align: center;
}

.msg-error {
  margin: 10px 0;
  padding: 12px;
  color: #d8000c;
  background-color: #ffd2d2;
}
